<div class="container-fluid login">
  <div class="row">
    <div class=" col-6 m-auto">
      <div class="card card-body mb-5">
        <div class="container col-9 mx-auto mb-3">
          <h2 class="text-center mt-5 mb-2">Account Login</h2>
          {{> message}}
          <form action="/users/login" method="post">
            <div class=" mb-3">
              <label for="email" class="form-label">Email</label>
              <input type="email" id="email" name="email" class="form-control" placeholder="Please enter your email...">
            </div>
            <div class=" mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" id="password" name="password" class="form-control"
                placeholder="Please enter your password...">
            </div>
            <button class="btn btn-login btn-primary mt-2 btn-block mx-auto"
              type="submit">Login</button>
          </form>
          <a href="/auth/facebook" class="btn btn-fblogin btn-primary mt-2 d-block mx-auto">Login with Facebook</a>
          <p class="lead mt-3 mx-auto">No account? <a href="/users/register">Register</a></p>
        </div>
      </div>
    </div>
  </div>
</div>